@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/mixins' as *;

.digits-container {
    width: 100%;
    height: 100%;
    padding: 0;
    background: var(--general-main-1);
    overflow: hidden;
    position: relative;
}

.digits-iframe {
    border: none;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 140px);
    background: var(--general-main-1);

    @include mobile-or-tablet-screen {
        min-height: calc(100vh - 120px);
    }
}
